@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Dashboard preview</h1>

<p>Några bilder på en dashboard som skapats med Power BI 
    <br />men kunde inte implementeras på sidan pga. problem med att få tag i embed länken</p>

<img height="40%" width="70%" src = "\Images\dashboard\dashboard1.PNG" />
<br />
<p>Dashboard som visar blandad säljstatistik för webbshoppen, uppdelat i olika kategorier 
    <br />t.ex. daglig försäljning, totala antal ordrar, mest sålda produkt. <br /> 
    Kan visa statistik för specifika kategorier,specifika datum samt olika tidsperioder </p>
<br />

<img height="40%" width="70%" src="\Images\dashboard\dashboardstock.PNG" />

<p>Dashboard som visar lagersaldo, totala lagersaldot och varnar när produkt håller på att
    ta slut kan sortera ut datan på olika vis</p>
<br />
<br />
<br />