

<h1>Admin Menu</h1>
<hr />
<h3>Actions</h3>
<ul>
    <li><a asp-controller="Admin" asp-action="CandyList">Edit/Remove candy</a></li>
    <li><a asp-controller="Admin" asp-action="CreateCandy">Add candy</a></li>
    <li>.......</li>
</ul>
