@model HomeViewModel


<partial name="_Carousel" />

<h2>Hot News!</h2>
<div class="row">
    @foreach(var candy in Model.NewCandy)
    {
        <partial name="_candyCard" model="candy" />
    }
</div>
